* {

    list-style: none;
    font-family: 'Gilroy', sans-serif;
    box-sizing: border-box;
}

.bekshire, h2 {
    font-family: 'Berkshire Swash', cursive;
}

iframe .popup {
    background: red;
    display: none;!important;
}
